.kui-header,
.kui-footer {
  background-color: #C1C4D6;
  color: #333;
  line-height: 60px;
}

.kui-aside {
  color: #333;
}

#chang-jian-ye-mian-bu-ju + .demo-container {
  .kui-header,
  .kui-footer {
    text-align: center;
  }

  .kui-aside {
    background-color: #d3dce6;
    text-align: center;
    line-height: 200px;
  }

  .kui-main {
    background-color: #E6E8F0;
    color: #333;
    text-align: center;
    line-height: 160px;
  }

  & > .source > .kui-container {
    margin-bottom: 40px;

    &:nth-child(5) .kui-aside,
    &:nth-child(6) .kui-aside {
      line-height: 260px;
    }

    &:nth-child(7) .kui-aside {
      line-height: 320px;
    }
  }
}
